body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  background-image: url('../src/assets/bg.jpeg'); 
  background-size: cover; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.crystal-ball {
  position: relative;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, #ffffff 10%, rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  border: 2px solid #ccc;
  overflow: hidden;
  transition: transform 0.5s ease;
  background-position: center center;
}

.crystal-ball-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82%;
  height: 82%;
  background: #ffffff70;
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}


.answer {
  font-size: 18px;
  text-align: center;
  color: #333;
  
}

#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 47%;
  padding-bottom: 40%;
  width: 800px;
  height: 800px;
  background-image: url('../src/assets/Crystal.png');
  background-size: cover;
  background-position: center bottom 100%;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}

.shaking {
  animation: shake 4.5s ease-in-out infinite;
}

button {
  font-size: 1.2em;
  color: white;
  background-color: rgb(200, 158, 158);
  transition: transform 0.3s ease;
  border: none;
  
}

button:hover {
  transform: scale(1.1);
  background-color: rgb(163, 138, 188);
  
}

@keyframes spinIn {
  from {
    opacity: 0;
    transform: rotate(-90deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

.question-container.spin-in {
  animation: spinIn 0.5s ease;
}

.back-image {
  background-size: "cover";
}
